* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --watermelon: #FF3B3F;
    --sky: #bde5ee;
    --carbon: #A9A9A9;
    --neutral: #EFEFEF;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

/* Scroll Bar */

::-webkit-scrollbar {
    width: 10px;
}
  
  
::-webkit-scrollbar-track {
    background: var(--neutral);
}


::-webkit-scrollbar-thumb {
    background: var(--carbon);
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}

/* Navbar */

.navbar {
    padding: 10px;
    background: var(--neutral);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo img {
    width: 50px;
    height: auto;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s; 
}

.navbar ul li a:hover {
    color: var(--watermelon);
}

.navbar .sign-in ul {
    display: flex;
}


/* Hero */

.hero .container {
    margin: 20px 0 0;
    height: 250px;
}

.hero .hero-content {
    text-align: center;
}


/* Explore */

.explore .container {
    margin: auto;
    width: 80%;
    border-top-style: solid;
    border-color: var(--carbon);
    border-width: 2px;
    padding: 20px;
}

.explore .explore-heading {
    text-align: center;
}

.explore .explore-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.explore .explore-card {
    height: 300px;
    border-radius: 5px;
    padding: 10px;
    overflow-y: auto;
}

.explore .explore-heading {
    margin-bottom: 20px;
}

.explore .explore-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    
}

.explore .explore-element ul {
    display: flex;
}

.explore .explore-element ul li {
    margin-right: 20px;
}

.explore .explore-element a {
    padding: 5px;
    transition: 0.5s;
}

.explore .explore-element .bracket-name:hover {
    color: var(--watermelon);
}

.explore .explore-element .league-name:hover {
    color: var(--sky);
}



/* Text Classes */

.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
}

.text-center {
    text-align: center;
}

/* Backgroud */

.bg-watermelon {
    background: var(--watermelon);
}

.bg-sky {
    background: var(--sky);
}

.bg-neutral {
    background: var(--neutral);
}